<tr class="py-5 hover:bg-slate-100">
  <td class="text-sm py-5 border-y text-center"><%= patient.first_name %></td>
  <td class="text-sm py-5 border-y text-center "><%= patient.last_name %></td>
  <td class="text-sm hidden md:table-cell py-5 border-y text-center"><%= patient.email %></td>
  <td class="text-sm py-5 border-y text-center "><%= patient.phone_number %></td>
  <td class="text-sm hidden md:table-cell py-5 border-y text-center "><%= patient.date_of_birth %></td>
  <td class="text-sm hidden md:table-cell py-5 border-y text-center "><%= patient.gender %></td>
  <td class="text-sm hidden md:table-cell py-5 border-y text-center "><%= patient.address %></td>
  <td class="text-sm py-5 border-y text-center text-wrap truncate"><%= patient&.creator&.email %></td>
  <td class="text-sm py-5 border-y justify-center flex">
    <%= link_to 'javascript:void(0)', data: { action: "dialog#open", value: "#{patient.id}" }, class: "ml-2 rounded-lg py-2 px-3 sm:py-3 sm:px-4 bg-gray-100 inline-block font-medium cursor-pointer" do %>
      <%= render_icon 'info', classes: 'h-2 w-2 sm:h-5 sm:w-5' %>
    <% end %>
    <%= link_to edit_patient_path(patient), class: "ml-2 rounded-lg py-2 px-3 sm:py-3 sm:px-4 bg-gray-100 inline-block font-medium cursor-pointer" do %>
    <%= render_icon 'update', classes: 'h-2 w-2 sm:h-5 sm:w-5' %>
    <% end %>
    <%= link_to patient_path(patient), data: { "turbo-method": :delete }, class: "ml-2 rounded-lg py-2 px-3 sm:py-3 sm:px-4 bg-red-500 inline-block font-medium cursor-pointer"  do %>
      <%= render_icon 'delete', classes: 'h-2 w-2 sm:h-5 sm:w-5' %>
    <% end %>
  </td>
</tr>
