<div class="flex flex-row gap-5">
  <p class="my-5">
    <small class="block font-medium mb-1">First name:</small>
    <%= patient.first_name %>
  </p>

  <p class="my-5">
    <small class="block font-medium mb-1">Last name:</small>
    <%= patient.last_name %>
  </p>

  <p class="my-5">
    <small class="block font-medium mb-1">Email:</small>
    <%= patient.email %>
  </p>

  <p class="my-5">
    <small class="block font-medium mb-1">Phone number:</small>
    <%= patient.phone_number %>
  </p>

  <p class="my-5">
    <small class="block font-medium mb-1">Date of birth:</small>
    <%= patient.date_of_birth %>
  </p>

  <p class="my-5">
    <small class="block font-medium mb-1">Gender:</small>
    <%= patient.gender %>
  </p>

  <p class="my-5">
    <small class="block font-medium mb-1">Address:</small>
    <%= patient.address %>
  </p>

  <p class="my-5">
    <small class="block font-medium mb-1">Created by:</small>
    <%= patient&.creator&.email %>
  </p>

  <p class="my-5">
    <small class="block font-medium mb-1">Created by:</small>
    <%= patient&.creator&.email %>
  </p>
</div>
